/* tables */

table.tablesorter thead tr .header {
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url('chrome-extension://__MSG_@@extension_id__/css/images/asc.gif');
}
table.tablesorter thead tr .headerSortDown {
	background-image: url('chrome-extension://__MSG_@@extension_id__/css/images/desc.gif');
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
